{{#partial "clienteInicio"}}

<div class="jumbotron">
  <h1 class="display-4">Bienvenido</h1>
  <p class="lead">al sistema de gesitón energética.</p>
  
  <p>En este canal podrás gestionar tus consumos de manera  muy fácil <img src="https://img.icons8.com/wired/50/000000/electrical.png"></p> 
</div>	

{{/partial}}

{{>cliente.hbs}}