{{#partial "respuesta"}}


    	<input  value = "{{respuesta}}" type="text"  placeholder="respuesta" style = "padding:10px;">
   	    <label for=""  class="">Kwh</label>
   	 	
{{/partial}}
{{>consultas.hbs}}